 <!-- AL IGUAL QUE EN LA VISTA LISTAR SE LLAMAN LOS DATOS ALMACENADOS, ESTO PARA LA VISTA DEL INDEX QUE ES LA 
 PÁGINA QUE VISUALIZA EL USUARIO AL INGRESAR AL APLICATIVO SIN LA NECESIDAD DE ESTAR LOGEADO -->
<div class="container p-5">
    <div class="row">
        {{#each links}}
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-body animate__animated animate__fadeInDown">
                        <img src="{{path}}" class="card-img-top">
                        <a href="{{url}}" target="_blank">
                            <h3 class="card-title text-uppercase">
                                {{title}}
                            </h3>
                        </a>
                        <p class="m-3">{{description}}</p>
                    </div>
                </div>
            </div>
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>No hay enlaces almacenados aún.</p>
            </div>
        </div>
        {{/each}}
    </div>
</div>

