<div class="container-p4">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-body">
                <form action="/links/edit/{{link.id}}" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                    <img src="{{link.path}}" class="card-img-top" width="100" height="200">
                    </div> 
                    <div class="form-group">
                        <input type="text" value="{{link.title}}" class="form-control" name="title" placeholder="title" autofocus>
                    </div>
                    <div class="form-group">
                        <input type="url" name="url" value="{{link.url}}" class="form-control" placeholder="URL">
                    </div>
                    <div class="form-group">
                        <textarea name="description" rows="2" class="form-control" placeholder="description">{{link.description}}</textarea>
                    </div>
                    <div class="input-group mb-3">
                        <div class="custom-file">
                            <input type="file" name="image" class="custom-file-input" id="inputGroupFile02">
                            <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">Seleccionar archivo</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success btn-block">
                            Guardar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>